@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import "tailwindcss";

img {
    -webkit-user-drag: none;
    user-drag: none;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    opacity: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

@keyframes slot-bounce {
    0% { transform: translateY(-50px); }
    50% { transform: translateY(50px); }
    100% { transform: translateY(-50px); }
}

.slot-icon.spinning {
    animation: slot-bounce .01s ease-in-out infinite;
}

.slot-icon.stopped {
    animation: none;
    transform: translateY(0);
    transition: transform .1s ease-in-out;
}

@keyframes spin-slow {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.spin {
    animation: spin-slow 4s linear infinite
}

.translate-ease-in {
    transition: transform 400ms ease-in
}

.opacity-ease-in-out {
    transition: opacity 400ms ease-in-out
}

@keyframes pulseText {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .3;
    }
}

*{
    cursor: url("/cursors/default.png") 10 10, auto !important;
}

a, button{
    cursor: url("/cursors/active.png") 10 10, auto !important;
}

html{
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

:root {
    --primary: #ff00de;
    --secondary: #b600bc;
    --tertiary: #ffb700;
    --accent: #855cff;
}

body {
    background-color: #000000;
}