@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import "tailwindcss";

@keyframes spin-slow {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.spin {
    animation: spin-slow 4s linear infinite
}

.translate-ease-in {
    transition: transform 400ms ease-in
}

.opacity-ease-in-out {
    transition: opacity 400ms ease-in-out
}

*{
    cursor: url("/cursors/default.png") 10 10, auto !important;
}

a, button{
    cursor: url("/cursors/active.png") 10 10, auto !important;
}

html{
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

:root {
    --primary: #ff00de;
    --secondary: #b600bc;
    --tertiary: #ffb700;
    --accent: #855cff;
}

body {
    background-color: #000000;
}